body {
    background-color: #0b0c0e;
    /* Dark background color for the entire page */
    color: #fff;
    /* Text color */
    font-family: Arial, sans-serif;
    /* Font family */
    margin: 0;
    /* Remove default margin */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* Adjusted padding */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    /* Adjusted margin */
}

.input {
    width: calc(100% - 30px); /* Fixed width on the right */
    padding: 16px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    margin-bottom: 40px;
    color: #fff;
    background: linear-gradient(145deg, #373535 0%, #2f2e2e 40%, #272626 100%);
    /* Gradient background */
    display: flex; /* Use flexbox */
}

.input::placeholder {
    color: #adadad;
}

.input:hover {
    cursor: not-allowed;
    /* Disabled cursor on hover */
}



hr {
    border-top: 2px solid #666;
    /* Dark separator color */
    margin-bottom: 20px;
    /* Adjusted margin */
}

.grid {
    padding-top: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background: linear-gradient(145deg, #333333 0%, #000000 100%);
    border: 1px solid #666;
}

.card .content {
    padding: 20px;
}

.card h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff; /* Set text color to white */
}

.card p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff; /* Set text color to white */
}

.card-blank {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #343333;
    /* Dark card background color */
    border: 1px solid #3b3b3b;
    /* Border between cards */
    cursor: not-allowed;
}

.blank-row {
    opacity: 0.6;
    cursor: not-allowed;
    /* Disabled cursor on hover */
}


@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 600px;
    }

    100% {
        background-position: 600px;
    }
}

.see-more {
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

.see-more {
    color: hsl(0, 0%, 28%);
    font-size: 50px !important;
    font-weight: bold !important;
    font-family: monospace;
    letter-spacing: 3px !important;
    cursor: pointer;
    text-transform: uppercase;
    align-items: center;
}

.see-more-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Adjust margin as needed */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Adjust the gap between buttons as needed */
    margin-top: 10px; /* Adjust margin as needed */
    margin-bottom: 50px;
}
