body, html {
  height: 100%;
  margin: 0;
}

.terms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #0b0c0e;
  border-radius: 5px;
  background-color: #0b0c0e;
  text-align: center;
}

.terms-heading,
.terms-text,
.i-button {
  color: #fff;
}

.terms-buttons {
  margin-top: 20px;
}

.terms-text {
  max-width: 90%;
  text-align: justify;
  word-wrap: break-word;
}

@media screen and (max-width: 600px) {
  .terms-container {
    padding: 10px;
  }
}
