/* YourCalls.css */

/* Global styles */
body {
    background-color: #0b0c0e;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-1 {
    width: calc(100% - 40px); /* Adjust input width to fit container with 20px margin on both sides */
    padding: 18px;
    background-color: #413f3f;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fff;
}

.input-1::placeholder {
    color: #adadad;
}

hr {
    border-top: 2px solid #666;
    margin-bottom: 35px;
}

.grid {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #444;
    border: 1px solid #666;
    display: flex;
    flex-direction: column; /* Align items vertically */
}

.card .content {
    padding: 20px;
}

.card h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.card p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logout-button {
    border: none;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

/* Define status classes */
.status-approved {
    color: rgb(120, 218, 120);
}

.status-rejected {
    color: rgb(254, 41, 41);
}

.status-pending {
    color: yellow;
}
